@import "tailwindcss";

@theme {
  --font-family-sans: "Plus Jakarta Sans", sans-serif;
  
  --color-background: #020617;
  --color-surface: #0f172a;
  --color-primary: #6366f1;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #475569; }
