# Application settings
app_name: "Hit8 Chat API"
app_version: "1.0.0"
debug_mode: false

# CORS configuration
cors_allow_origins:
  - "http://localhost:5173"
  - "http://127.0.0.1:5173"
cors_allow_credentials: true

# Vertex AI configuration
vertex_ai_model_name: "gemini-3-flash-preview"
vertex_ai_location: "global"

# GCP configuration
gcp_project: "hit8-poc"
google_identity_platform_domain: "hit8-poc.firebaseapp.com"

# Supabase configuration
supabase_url: "http://localhost:5432"

